EnrolmentForm2/Connected Services/StudentAdminServiceReference/StudentAdmin2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnrolmentAdminService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnrolmentAdminService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEnrolled" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfTimetableEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimetableEntry" nillable="true" type="tns:TimetableEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimetableEntry" nillable="true" type="tns:ArrayOfTimetableEntry" />
  <xs:complexType name="TimetableEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimetableEntry" nillable="true" type="tns:TimetableEntry" />
</xs:schema>