EnrolmentForm2/Connected Services/StudentAdminServiceReference/StudentAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="StudentAdmin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IStudentAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/StudentAdmin.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/StudentAdmin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/StudentAdmin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EnrolmentAdminService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentAdmin_NewStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:NewStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentAdmin_NewStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentAdmin_ViewStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentAdmin_ViewStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentAdmin_StudentTimetable_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentTimetable" />
  </wsdl:message>
  <wsdl:message name="IStudentAdmin_StudentTimetable_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentTimetableResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentAdmin">
    <wsdl:operation name="NewStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAdmin/NewStudent" message="tns:IStudentAdmin_NewStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAdmin/NewStudentResponse" message="tns:IStudentAdmin_NewStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAdmin/ViewStudent" message="tns:IStudentAdmin_ViewStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAdmin/ViewStudentResponse" message="tns:IStudentAdmin_ViewStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentTimetable">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAdmin/StudentTimetable" message="tns:IStudentAdmin_StudentTimetable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAdmin/StudentTimetableResponse" message="tns:IStudentAdmin_StudentTimetable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentAdmin" type="tns:IStudentAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentAdmin/NewStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentAdmin/ViewStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentTimetable">
      <soap:operation soapAction="http://tempuri.org/IStudentAdmin/StudentTimetable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IStudentAdmin" type="tns:IStudentAdmin">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IStudentAdmin_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentAdmin/NewStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentAdmin/ViewStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentTimetable">
      <soap:operation soapAction="http://tempuri.org/IStudentAdmin/StudentTimetable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentAdmin">
    <wsdl:port name="BasicHttpBinding_IStudentAdmin" binding="tns:BasicHttpBinding_IStudentAdmin">
      <soap:address location="http://enrolmentadminservice20231122212937.azurewebsites.net/StudentAdmin.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IStudentAdmin" binding="tns:BasicHttpsBinding_IStudentAdmin">
      <soap:address location="https://enrolmentadminservice20231122212937.azurewebsites.net/StudentAdmin.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>