EnrolmentForm2/Connected Services/CourseAdminServiceReference/CourseAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CourseAdmin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICourseAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/CourseAdmin.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/CourseAdmin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/CourseAdmin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EnrolmentAdminService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseAdmin_NewCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseAdmin_NewCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseAdmin_ViewCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseAdmin_ViewCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseAdmin_DisplayBill_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayBill" />
  </wsdl:message>
  <wsdl:message name="ICourseAdmin_DisplayBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayBillResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseAdmin">
    <wsdl:operation name="NewCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseAdmin/NewCourse" message="tns:ICourseAdmin_NewCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseAdmin/NewCourseResponse" message="tns:ICourseAdmin_NewCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseAdmin/ViewCourse" message="tns:ICourseAdmin_ViewCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseAdmin/ViewCourseResponse" message="tns:ICourseAdmin_ViewCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayBill">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseAdmin/DisplayBill" message="tns:ICourseAdmin_DisplayBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseAdmin/DisplayBillResponse" message="tns:ICourseAdmin_DisplayBill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseAdmin" type="tns:ICourseAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseAdmin/NewCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseAdmin/ViewCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayBill">
      <soap:operation soapAction="http://tempuri.org/ICourseAdmin/DisplayBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ICourseAdmin" type="tns:ICourseAdmin">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICourseAdmin_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseAdmin/NewCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseAdmin/ViewCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayBill">
      <soap:operation soapAction="http://tempuri.org/ICourseAdmin/DisplayBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseAdmin">
    <wsdl:port name="BasicHttpBinding_ICourseAdmin" binding="tns:BasicHttpBinding_ICourseAdmin">
      <soap:address location="http://enrolmentadminservice20231122212937.azurewebsites.net/CourseAdmin.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ICourseAdmin" binding="tns:BasicHttpsBinding_ICourseAdmin">
      <soap:address location="https://enrolmentadminservice20231122212937.azurewebsites.net/CourseAdmin.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>