EnrolmentForm2/Connected Services/EnrolmentAdminServiceReference/Enrolment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Enrolment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IEnrolmentAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/EnrolmentAdmin.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/EnrolmentAdmin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://enrolmentadminservice20231122212937.azurewebsites.net/EnrolmentAdmin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EnrolmentAdminService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEnrolmentAdmin_EnrolStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:EnrolStudent" />
  </wsdl:message>
  <wsdl:message name="IEnrolmentAdmin_EnrolStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnrolStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IEnrolmentAdmin_GetEnrolmentByCourseID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrolmentByCourseID" />
  </wsdl:message>
  <wsdl:message name="IEnrolmentAdmin_GetEnrolmentByCourseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrolmentByCourseIDResponse" />
  </wsdl:message>
  <wsdl:message name="IEnrolmentAdmin_GetEnrolments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrolments" />
  </wsdl:message>
  <wsdl:message name="IEnrolmentAdmin_GetEnrolments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrolmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEnrolmentAdmin">
    <wsdl:operation name="EnrolStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrolmentAdmin/EnrolStudent" message="tns:IEnrolmentAdmin_EnrolStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrolmentAdmin/EnrolStudentResponse" message="tns:IEnrolmentAdmin_EnrolStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnrolmentByCourseID">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrolmentAdmin/GetEnrolmentByCourseID" message="tns:IEnrolmentAdmin_GetEnrolmentByCourseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrolmentAdmin/GetEnrolmentByCourseIDResponse" message="tns:IEnrolmentAdmin_GetEnrolmentByCourseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnrolments">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrolmentAdmin/GetEnrolments" message="tns:IEnrolmentAdmin_GetEnrolments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrolmentAdmin/GetEnrolmentsResponse" message="tns:IEnrolmentAdmin_GetEnrolments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEnrolmentAdmin" type="tns:IEnrolmentAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnrolStudent">
      <soap:operation soapAction="http://tempuri.org/IEnrolmentAdmin/EnrolStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrolmentByCourseID">
      <soap:operation soapAction="http://tempuri.org/IEnrolmentAdmin/GetEnrolmentByCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrolments">
      <soap:operation soapAction="http://tempuri.org/IEnrolmentAdmin/GetEnrolments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IEnrolmentAdmin" type="tns:IEnrolmentAdmin">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IEnrolmentAdmin_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnrolStudent">
      <soap:operation soapAction="http://tempuri.org/IEnrolmentAdmin/EnrolStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrolmentByCourseID">
      <soap:operation soapAction="http://tempuri.org/IEnrolmentAdmin/GetEnrolmentByCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrolments">
      <soap:operation soapAction="http://tempuri.org/IEnrolmentAdmin/GetEnrolments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Enrolment">
    <wsdl:port name="BasicHttpBinding_IEnrolmentAdmin" binding="tns:BasicHttpBinding_IEnrolmentAdmin">
      <soap:address location="http://enrolmentadminservice20231122212937.azurewebsites.net/EnrolmentAdmin.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IEnrolmentAdmin" binding="tns:BasicHttpsBinding_IEnrolmentAdmin">
      <soap:address location="https://enrolmentadminservice20231122212937.azurewebsites.net/EnrolmentAdmin.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>